{% load static %}

body {
	background: linear-gradient(to right,#153e90,#0e49b5);
	font-family:calibri;
}

.logo {
	width:50px;
	height:50px;
	border-radius:50%;
}
#header .title {
	color:#fffaa4;
	font-family: 'Geostar Fill', cursive;
	letter-spacing:2px
}

@media screen and (min-width:800px) {
	.rps-img {
		width:120px;
		height:120px;
	}
}
@media screen and (max-width:799px) and (min-width:400px){
	.rps-img {
		width:100px;
		height:100px;
	}
}
@media screen and (max-width:399px) {
	.rps-img {
		width:70px;
		height:70px;
	}
}
.rps-btn {
	border:none;
	outline:none;
}
.rps-btn:focus {
	border:none;
	outline:none;
}
.vs-btn,.points-btn{
	background:transparent;
	height:150px;
	font-family: 'Michroma', sans-serif;
	font-size:1.7rem;
	transition:0.3s ease-in-out
}
.vs-btn.computer,.vs-btn.human{
	width:70%;
}
.vs-btn.computer,.points-btn.computer {
	border:2px solid #54e346;
	color:#54e346;
}
.vs-btn.human, .points-btn.human {
	border:2px solid #fffaa4;
	color:#fffaa4;
}
.vs-btn.computer:hover,.points-btn.computer:hover {
	background:#54e346;
	color:#fff;
}
.vs-btn.human:hover, .points-btn.human:not(.clicked):hover, .points-btn.human.clicked {
	border:2px solid #fffaa4;
	background:#fffaa4;
	color:#0e49b5;
}
.radio input[type="radio"] {
	visibility: hidden;
}
.play-btn {
	font-size:1.2rem;
	font-weight:lighter;
	letter-spacing:2.4px;
}

.rps-icon {
	width:60%;
}
.user_td, .pA_td {
	background:#54e346;
}
.computer_td, .pB_td {
	background:#fffaa4;
}
.game-message {
	font-family: 'Michroma', sans-serif;
	word-spacing:1.5rem;
}

@media screen and (min-width:500px) {
	.w-responsive {
		width:55%;
	}
}
@media screen and (max-width:499px) {
	.w-responsive {
		width:95%;
	}
}

.font-michroma {
	font-family: 'Michroma', sans-serif;
}

.waiting-text {
	color:#54e346;
	font-family: 'Geostar Fill', cursive;
	letter-spacing:4px;
	animation-name:toggleOpacity;
	animation-duration:1.5s;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;
}

@keyframes toggleOpacity {
	0%, 100% {
		opacity:1;
	}
	50% {
		opacity:0.2;
	}
}


/*
  
font-family: 'Big Shoulders Stencil Text', cursive;
font-family: 'Bungee Outline', cursive;
font-family: 'Geostar Fill', cursive;
font-family: 'Londrina Shadow', cursive;
font-family: 'Londrina Sketch', cursive;
font-family: 'Orbitron', sans-serif;
font-family: 'Michroma', sans-serif;

153e90
0e49b5
54e346
fffaa4

*/